# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bnbsjuzglsnunttuexls.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key

DATABASE_URL=postgresql://postgres:your_password@localhost:5432/postgres
SUPERADMIN_EMAIL=superadmin@conozca.com
SUPERADMIN_PASSWORD=ChangeMe_StrongPassword_123!
SUPERADMIN_FULL_NAME=Makisaurio
# Opcional: true para validar sin escribir cambios
SUPERADMIN_DRY_RUN=true
