# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://bnbsjuzglsnunttuexls.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJuYnNqdXpnbHNudW50dHVleGxzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NzM0NDEsImV4cCI6MjA4NzQ0OTQ0MX0.J1N6DbkE9Nk3rB_fyA2y4I4vznYUOIT_xuSgP0ilYbU
